@import './global.css';

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  font-size: 14px;
  margin: 0;
}

.footer-content p strong {
  font-weight: 600;
}
